appnope==0.1.0
click==5.1
decorator==4.0.4
flake8==2.5.0
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
lxml==3.5.0
mccabe==0.3.1
path.py==8.1.2
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
ply==3.8
ptyprocess==0.5
pyflakes==1.0.0
requests==2.8.1
simplegeneric==0.8.1
slimit==0.8.1
traitlets==4.0.0
